Diagramaclases.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--Hasta3erDan-->
    <xsd:complexType name="Hasta3erDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="tecnica_def" type="xsd:string"/>
                    <xsd:element name="kata" type="xsd:string"/>
                    <xsd:element name="kumite" type="xsd:string"/>
                    <xsd:element name="campeonatos" type="xsd:string"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--Hasta3erDan-->
<!--CinturonNegro-->
    <xsd:complexType name="CinturonNegro">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="tecnica_direct" type="xsd:string"/>
                    <xsd:element name="tecnica_circ" type="xsd:string"/>
                    <xsd:element name="tecnica_pierna" type="xsd:string"/>
                    <xsd:element name="teoria" type="xsd:string"/>
                    <xsd:element name="kata" type="xsd:string"/>
                    <xsd:element name="kumite" type="xsd:string"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--CinturonNegro-->
<!--CinturonNegroPrimerDan-->
    <xsd:complexType name="CinturonNegroPrimerDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="tecnica_def" type="xsd:string"/>
                    <xsd:element name="tecnica_pierna" type="xsd:string"/>
                    <xsd:element name="tecnica_directIndirect" type="xsd:string"/>
                    <xsd:element name="teoria" type="xsd:string"/> 
                    <xsd:element name="kata" type="xsd:string"/>
                    <xsd:element name="kumite" type="xsd:string"/>
                    <xsd:element name="aplic_tecnica" type="xsd:string"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--CinturonNegroPrimerDan-->
<!--CinturonNegroSegundoDan-->
    <xsd:complexType name="CinturonNegroSegundoDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="tecnica_base" type="xsd:string"/>
                     <xsd:element name="tecnica_direct" type="xsd:string"/>
                    <xsd:element name="tecnica_pierna" type="xsd:string"/>
                    <xsd:element name="tecnica_indirectcirc" type="xsd:string"/>
                     <xsd:element name="tecnica_comb" type="xsd:string"/>
                    <xsd:element name="teoria" type="xsd:string"/> 
                    <xsd:element name="kata" type="xsd:string"/>
                    <xsd:element name="kumite" type="xsd:string"/>
                     <xsd:element name="campeonatos" type="xsd:string"/>
                      <xsd:element name="tecnicas" type="xsd:string"/>
                    <xsd:element name="aplicaciones"/>
                    <xsd:element name="apli_tecnica"/>
                    <xsd:element name="demo_libre"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--CinturonNegroSegundoDan-->
<!--CinturonNegroTercerDan-->
    <xsd:complexType name="CinturonNegroTercerDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="variaciones_tecnica" type="xsd:string"/>
                    <xsd:element name="teoria" type="xsd:string"/> 
                    <xsd:element name="kata" type="xsd:string"/>
                    <xsd:element name="kumite" type="xsd:string"/>
                    <xsd:element name="campeonatos" type="xsd:string"/>
                    <xsd:element name="tecnicas" type="xsd:string"/>
                    <xsd:element name="aplicaciones" type="xsd:string"/>
                    <xsd:element name="apli_tecnica" type="xsd:string"/>
                    <xsd:element name="demo_libre"/>
                    <xsd:element name="Attribute5"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--CinturonNegroTercerDan-->
<!--CinturonNegroCuartoDan-->
    <xsd:complexType name="CinturonNegroCuartoDan">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="Coloquio" type="xsd:string"/>
                    <xsd:element name="kata" type="xsd:string"/>
                    <xsd:element name="kumite" type="xsd:string"/>
                    <xsd:element name="apli_tecnica" type="xsd:string"/>
                    <xsd:element name="demo_libre"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--CinturonNegroCuartoDan-->
<!--QuintoDanySuperior-->
    <xsd:complexType name="QuintoDanySuperior">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="kata" type="xsd:string"/>
                    <xsd:element name="Coloquio" type="xsd:string"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--QuintoDanySuperior-->
<!--SuspenderExamen-->
    <xsd:complexType name="SuspenderExamen">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="id_asp" type="codigo"/>
                    <xsd:element name="SuspPar" type="xsd:boolean"/>
                    <xsd:element name="SuspTot" type="xsd:boolean"/>
                    <xsd:element name="SuspSegFase" type="xsd:boolean"/>
                 </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--SuspenderExamen-->
<!--Meritos-->
    <xsd:complexType name="Meritos">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="id_asp" type="xsd:integer"/>
                    <xsd:element name="edad_asp" type="xsd:integer"/>
                    <xsd:element name="LicenciaAct" type="xsd:boolean"/>
                    <xsd:element name="TrabajoEscrito" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--Meritos-->
<!--AbonarCuota-->
    <xsd:complexType name="AbonarCuota">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="id_asp" type="xsd:integer"/>
                   </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--AbonarCuota-->
<!--CovalidacionGrados-->
    <xsd:complexType name="CovalidacionGrados">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="id_asp" type="xsd:integer"/>
                   </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--CovalidacionGrados-->
<!--RequisitosAspirante-->
    <xsd:complexType name="RequisitosAspirante">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="Sol3Dan" type="xsd:boolean"/>
                     <xsd:element name="4DanSub" type="xsd:boolean"/>
                   </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--RequisitosAspirante-->
<!--DispensaMedica-->
    <xsd:complexType name="DispensaMedica">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="id_asp" type="xsd:integer"/>
                   </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--DispensaMedica-->
<!--CriterioValoracion-->
    <xsd:complexType name="CriterioValoracion">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="indumentaria" type="xsd:integer"/>
                      <xsd:element name="AseoPersonal" type="xsd:integer"/>
                       <xsd:element name="EjTecnica" type="xsd:integer"/>
                        <xsd:element name="Valores" type="xsd:integer"/>
                         <xsd:element name="Resp" type="xsd:integer"/>
                   </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--CriterioValoracion-->
<!--Jueces-->
    <xsd:complexType name="Jueces">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="id_juez" type="xsd:integer"/>
                      <xsd:element name="nom" type="xsd:string"/>
                       <xsd:element name="ap" type="xsd:string"/>
                        <xsd:element name="DiplomaJuez" type="xsd:boolean"/>
                   </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--Jueces-->
<!--Tribunal-->
    <xsd:complexType name="Tribunal">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="num_juez" type="xsd:integer"/>
                      <xsd:element name="calificacion_final" type="xsd:integer"/>
                   </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--Tribunal-->
<!--Aspirantes-->
    <xsd:complexType name="Aspirantes">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="id_asp" type="xsd:integer"/>
                    <xsd:element name="nom" type="xsd:string"/> 
                    <xsd:element name="ap" type="xsd:string"/>
                    <xsd:element name="DNI" type="xsd:string"/>
                    <xsd:element name="tel" type="xsd:string"/>
                    <xsd:element name="direccion" type="xsd:string"/>
                    <xsd:element name="naciemiento" type="xsd:string"/>
                    <xsd:element name="Dan" type="xsd:string"/>
                    <xsd:element name="cinturon"  type="xsd:string"/>
                    <xsd:element name="Fecha_ingreso_Dan" type="xsd:date"/>
                    <xsd:element name="Foto"  type="xsd:string"/>
                    <xsd:element name="Tiempo_Dan_Anterior" type="xsd:string"/>
                    <xsd:element name="FotoDni" type="xsd:string"/>
                    <xsd:element name="FotoGrados" type="xsd:string"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
<!--Aspirantes-->
<!--Tribunal-->
    <xsd:complexType name="Examen">
        <xsd:simpleContent>
            <xsd:restriction base="xsd:anyType">
                     <xsd:element name="id_asp" type="xsd:integer"/>
                    </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>
<!--Tribunal-->
<!--Creacion de restriciones en los datos-->
<xsd:simpleType name="id_asp">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>

<xsd:simpleType name="id_juez">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>

<!--Creacion de restriciones en los datos-->
</xsd:schema>